

:root{
    --cor-de-fundo:#3f0606;
    --verde:#254a05;
    --branco:#FFFFFF;
    --botao-ativo:#6d0707;
    --botao-inativo: rgba(36, 34, 57, 0.5);
    --botao-fundo:rgba(12, 3, 118, 0.3);
    
}   